{{!-- {{#each this}}
<li>
  <video src={{video_files[0].link}}></video>
  {{!-- <ul>
    {{!-- <h3>pictures</h3>
    {{#each video_pictures}}
    <li>
      <img src={{this.picture}} alt="img">
    </li>
    {{/each}} --}}
{{!-- </ul> --}} --}}
</li>
{{/each}} --}}